@model IList<Blog>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row flex-row flex-nowrap">
        @foreach (var pageToPrint in Model)
        {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@pageToPrint.ImageDataURL" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@pageToPrint.Title</h5>
                <p class="card-text">@pageToPrint.Description</p>
                <a  ref="#" class="btn btn-primary"
                   asp-controller="Blog" asp-action="Index" asp-route-title="@pageToPrint.Title">View</a>
            </div>
        </div>
        }
        
    </div>
</div>